/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #121212;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 0 0 1.5rem;
}

/* Центрирование содержимого навигации */
.navbar {
    display: flex;
    justify-content: space-between; /* Разделяет элементы по краям */
    align-items: center; /* Выравнивание по вертикали */
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

/* Если нужно, чтобы все элементы внутри контейнера были отцентрированы */
.container {
    width: 100%;
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование */
    display: flex; /* Используем flexbox для контейнера */
    justify-content: center; /* Центрируем все элементы по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.logo, .menu, .hamburger {
    margin: 0 1rem; /* Добавляем отступы между элементами */
}

/* _________________________________________________ */
.navbar .logo a {
    /* портфолио размер шрифта */
    font-size: 1rem;
    color: #00d1b2;
    text-decoration: none;
    text-align: center; /* Выравнивание текста влево */
    margin-left: 0; /* Убедитесь, что нет лишнего отступа */
    padding-left: 1rem; /* Настраиваем отступ, если необходимо */
}
.navbar .menu a {
    margin: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    /* вы на главной размер шрифта */
    font-size: 1rem;
    /* Плавный переход для цвета и трансформации */
    transition: color 0.3s ease, transform 0.1s ease; 
}

.navbar .menu a:hover {
    color: #00d1b2;
}
/* --------------------------------------------------- */
/* Стили для About Section */
#about {
    padding: 4rem 0;
    background-color: #1e1e1e;
    color: #ffffff;
}
/* Стили для блока информации */
.info {
    text-align: center;
    margin-bottom: 2rem;
}

.info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ed142d; /* Для выделения заголовка */
}

.info p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Стили для контейнера плееров */
.players {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.player {
    background: #333;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.player iframe {
    border-radius: 8px;
}

.player p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #fff;
}
/* --------------------------------------------------- */
/* Стили для секции Apps */
#apps {
    padding: 1.5rem 0;
    background-color: #1e1e1e;
    color: #ffffff;
}

#apps .container {
    text-align: center;
}

/* Стили для блока информации */
.info_apps {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.info_apps h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #2963e0; /* Для выделения заголовка */
}

.info_apps p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Стили для контейнера приложений */
.apps {
    display: flex;
    flex-wrap: wrap;  /* Разрешает перенос иконок на следующую строку */
    justify-content: space-around;
    gap: 0.1rem;  /* Уменьшаем отступ между иконками (например, до 1rem) */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Стили для каждого приложения */
.app {
    display: flex;
    flex-direction: column; /* Выравнивание текста и иконки по вертикали */
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    background-color: #333;
    padding: 0.3rem 0.3rem;  /* Отступы сверху/снизу меньше, а по бокам остаются такие же */
    border-radius: 8px;
    width: 120px;  /* Ширина блока с иконкой */
}

.app p {
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 0.5rem;  /* Отступ между текстом и иконкой */
}

.app img {
    width: 110px;  /* Ширина иконки */
    height: 110px;  /* Высота иконки */
}

.app:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(55, 61, 232, 0.5);
}

/* --------------------------------------------------- */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: #ffffff;
    height: 3px;
    margin: 4px 0;
    width: 25px;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        padding: 1rem;
    }

    .navbar .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    height: 90vh;
    background: url('/assets/img/bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 8rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.hero-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    /* Ограничиваем ширину содержимого */
    /* max-width: 1500px;  */
    width: 100%;
    margin: 0 auto; /* Центрируем по горизонтали */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
}

/* Section Styles */
.section {
    padding: 4rem 0;
    background-color: #1e1e1e;
}

.section:nth-child(even) {
    background-color: #2a2a2a;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project-item {
    background: #333;
    border: 1px solid #444;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #121212;
    color: #ffffff;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
}